/* your styles go here */
body {
  font-size: 1.2em;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  border: none;
}
/* Intro */
.heading {
  color: rgb(168, 2, 2);
}

.home-heading {
  font-size: 20px;
}

.nav-heading {
  font-size: 1em;
}

.github-btn {
  /* color: rgb(168, 2, 2); */
  background-color: rgba(255, 255, 255, 0.425);
  /* background-color: transparent; */
  border: none;
  margin-top: 5vh;
  font-size: 1.3em;
}

/* About */
.udacity {
  font-weight: 600;
  text-decoration: underline;
}

.about {
  line-height: 2em;
}

.about-pic {
  width: 90%;
  height: 60vh;
  border-radius: 50%;
}

/* Portfolio */
.portfolio {
  background-color: whitesmoke;
}

.card-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: flex;
  /* height: 50vh; */

  background-color: whitesmoke;
  margin: 20px;
  border-radius: 30px 30px 0 0;
  -webkit-box-shadow: 10px 6px 20px -4px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 10px 6px 20px -4px rgba(0, 0, 0, 0.31);
  box-shadow: 10px 6px 20px -4px rgba(0, 0, 0, 0.31);
}

.card-body {
}

.card p {
  margin: 50px;
}

.card img {
  align-self: center;
  width: 80%;
  margin: 10px;
}

/* .gif-btn, */
.link-btn {
  border: none;
  background-color: transparent;
  color: rgb(196, 7, 7);
  font-weight: bolder;
}

/* .gif-btn:hover, */
.link-btn:hover {
  color: black;
  border: none;
  background-color: transparent;
}

.gif-btn {
  border: none;
  background-color: transparent;
  /* color: black; */
  color: rgb(196, 7, 7);
  font-weight: bolder;
}

.gif-btn:hover {
  background-color: transparent;
  color: black;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 20vh;
  color: white;
}

@media (max-width: 1100px) {
  .content {
    margin-top: 35%;
  }
}
